@model ResultProductDto
@*
    _DefaultBestsellingPartialComponent
*@


<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">
                    
                    <div class="col-md-6">
                       
                            
                
                        <figure class="products-thumb">
                            <img src="@Model.ImageUrl" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>

                            <div class="products-content">
                                <div class="author-name">@Model.Author</div>
                                <h3 class="item-title">@Model.Name</h3>
                                <p>
                                   @Model.Description
                                </p>
                                    <div class="item-price">@Model.Price ₺</div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn-accent-arrow">
                                        shop it now <i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>